<div class="container">
    <h2>Contact Me</h2>
    <p>Have any questions? Want help with a project? Let's grab coffee.</p>
    <form (submit)="onSubmit();" action="https://formspree.io/mandmericle@gmail.com" method="POST">
        <div class="form-group form-row">
            <label>Your name</label>
            <input type="text" class="form-control" name="name" />
        </div>
        <div class="form-group form-row">
            <label>Your email</label>
            <input type="email" class="form-control" name="_replyto" />
        </div>
        <div class="form-group form-row">
            <label>Subject</label>
            <input type="text" class="form-control" name="subject" />
        </div>
        <div class="form-group form-row">
            <label>Your message</label>
            <textarea class="form-control" rows="5" name="message"></textarea>
        </div>
        <input type="submit" value="Send" class="btn btn-primary">
    </form>
</div>