<div class="page">
    <particles [style]="style" [width]="100" [height]="100" [params]="params"></particles>
    <div class="container head">
        <h1>Building and designing tech for a better world.</h1>
        <p>Hi, my name is Mandy Mericle. I am a civic-minded full stack developer with a passion for learning and working with a team of like-minded developers.</p>    
        <a class="btn btn-warning hvr-icon-wobble-horizontal" [routerLink]="['portfolio']">View My Work  <img class="hvr-icon" src="../../assets/img/fast-forward.png" alt="arrow"></a>
    </div>
</div>