<div class="col profile">
    <div class="hexagon">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
    </div>
</div>
<div class="col">
    <h2>About me</h2>
    <p>I'm a full stack developer with experience working in three different full stacks. I proritize making web applications that are both functional, user-friendly, and beautiful.</p>
</div>
<div class="container">
    <h4>Full Stack Developer working in C#/ASP.Net, MEAN, and Python/Django...</h4>
    <div class="stacks">
        <img src="../../assets/img/CSharp.png">
        <img src="../../assets/img/MEAN.png">
        <img src="../../assets/img/Python.png">
    </div>
    <h4>With plenty of skills to boot:</h4>
    <h3>FRONT END</h3>
    <ul>
        <li>&bull; HTML5</li>
        <li>&bull; CSS</li>
        <li>&bull; JQuery</li>
        <li>&bull; Bootstrap</li>
        <li>&bull; Angular</li>
    </ul>
    <h3>BACK END</h3>
    <ul>
        <li>&bull; Python</li>
        <li>&bull; Django</li>
        <li>&bull; Flask</li>
        <li>&bull; Bcrypt</li>
        <li>&bull; Gunicorn</li>
        <li>&bull; Node.js</li>
        <li>&bull; Socket.io</li>
        <li>&bull; ES6</li>
        <li>&bull; ES5</li>
        <li>&bull; TypeScript</li>
        <li>&bull; NPM</li>
        <li>&bull; Express</li>
        <li>&bull; C#</li>
        <li>&bull; ASP.NET Core</li>
    </ul>
    <h3>DATABASE</h3>
    <ul>
        <li>&bull; mySQL</li>
        <li>&bull; SQLite</li>
        <li>&bull; noSQL</li>
        <li>&bull; MongoDB</li>
        <li>&bull; Mongoose</li>
        <li>&bull; LINQ</li>
        <li>&bull; Dapper</li>
        <li>&bull; Entity Framework Core</li>
    </ul>
    <h4>Experience working with major APIs handling various types of data.</h4>
    <ul>
        <li>&bull; Google Maps</li>
        <li>&bull; YourMapper2</li>
        <li>&bull; Charts.js</li>
        <li>&bull; Anime.js</li>
        <li>&bull; Chicago Transportation Authority API</li>
    </ul>
</div>